<div class="col">
    <div class="container align-items-center justify-content-center">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center mt-4">
                <div class=" card col-10 col-md-7 col-lg-5 col-xl-4 back-color" style="border-radius: 20px;">
                    <div class="container">
                        <p class="h4 fw-bolder text-center my-3" style="color: #003049;">Add Rent Form</p>
                        <form>
                            <div>
                                <div class="">
                                    <label for="email" class="form-label">Car Register No <span style="font-size: small;">(Number Plate)</span></label>
                                    <input type="text" formControlName="m_car_no" class="form-control" id="m_car_no"
                                        name="m_car_no" aria-describedby="emailHelp" autocomplete="off">
                                </div>
                                <div class="">
                                    <label for="email" class="form-label">Rent Start Date</label>
                                    <input type="date" formControlName="r_start_date" class="form-control"
                                        id="r_start_date" name="r_start_date" aria-describedby="emailHelp"
                                        autocomplete="off">
                                </div>
                                <div class="">
                                    <label for="password" class="form-label">Rent End Date</label>
                                    <input type="date" formControlName="r_end_date" class="form-control" id="r_end_date"
                                        name="r_end_date" autocomplete="off">
                                </div>
                                <div class="">
                                    <label for="password" class="form-label">Rent Distance</label>
                                    <input type="text" formControlName="r_distance" class="form-control" id="r_distance"
                                        name="r_distance" autocomplete="off">
                                </div>
                                <div class="">
                                    <label for="password" class="form-label">Income</label>
                                    <input type="number" formControlName="r_price" class="form-control" id="r_price"
                                        name="r_price" autocomplete="off">
                                </div>
                                <div class="">
                                    <label for="password" class="form-label">Rent Receipts Upload</label>
                                    <input type="file" formControlName="r_recp_img" class="form-control" id="r_recp_img"
                                        name="r_recp_img" autocomplete="off">
                                </div>
                                <div class="text-center mt-4 mb-2">
                                    <button type="submit" class="btn px-5 text-white"
                                        style="background-color: #003049;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>