<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #003049;">
  <div class="container-fluid py-2">
    <a class="navbar-brand ms-5" href="#">
      <h4 class="text-white fw-bold">Car <span class="text-danger">Rental</span></h4>
    </a>
    <span>
      <div class="collapse navbar-collapse mx-5" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mx-3 text-light" aria-current="page" href="home">Home</a>
          <a class="nav-link mx-3 text-light" href="add/addmaintenance">Add Maintenance</a>
          <a class="nav-link mx-3 text-light" href="add/addrent">Add Income</a>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="add/addvehicle">Add New Vehicle</a>
              <a class="dropdown-item" href="manage/managevehicle">Manage Vehicle</a>
              <a class="dropdown-item" href="manage/managemaintenance">Manage Maintenance</a>
              <a class="dropdown-item" href="manage/managerent">Manage Rent</a>
            </div>
          </li>
        </div>
      </div>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>