.back-color{
    background-color: rgba(0,48,73,0.1);
}

.vehicle-image {
    max-width: 100px; /* Adjust as needed */
    max-height: 100px; /* Adjust as needed */
    object-fit: contain; /* Ensures the image covers the dimensions without distortion */
  }