<div class="container">
  <div class="col">
    <div class="row mt-5">
      <div class="container lgbox  py-md-3 mx-2">
        <div class="d-flex flex-column flex-md-row align-items-center">
          <div class="imgbox mb-3 mb-md-0 mx-md-5 ">
            <img style="border-radius: 20px;" [src]="car.car_img" class="img-fluid" alt="Vehicle Image">
          </div>
          <div class="fullbox text-start mt-md-5">
            <div class="row">
              <h4 style="font-weight: bold;"> {{car.car_model}}</h4>
            </div>
            <div class="row">
              <h6><span>Brand Name :</span> {{car.car_brand}}</h6>
            </div>
            <div class="row">
              <h6><span>Vehicle Type :</span>{{car.car_type}}</h6>
            </div>
            <div class="row">
              <h6><span>Manufacture Year :</span> {{car.car_manufacture_year}}</h6>
            </div>
            <div class="row">
              <h6>Vehicle Number: <span class="text-danger" style="font-weight: bolder;">{{car.car_reg_no}}</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <h4 style="font-weight: bold; " class="mb-2">Income Details</h4>
      <div class="row">
        <div class="col">
          <h6 style="font-weight: bold; color: #780000;" class="mb-2">Total Income : <span>{{totalIncome |
          number:'1.2-2'}}</span></h6>
        </div>
        <span class="col text-end">
          <button class="btn text-white" style="background-color: #003049;" (click)="downloadRentData()">Download Income Data</button>
        </span>
      </div>
      <div class="filter-options mb-3">
        <label for="rentFilter" class="me-2">Filter by :</label>
        <select id="rentFilter" (change)="filterRentData($event)" class="px-2" style="border-radius: 10px;">
          <option value="all">All</option>
          <option value="week">Last Week</option>
          <option value="month">Last Month</option>
          <option value="year">Last Year</option>
        </select>
      </div>
      <div class="card p-2 mb-2" style="border-radius: 20px;">
        <div class="table-responsive ">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col" class="text-center">Start Date</th> 
                <th scope="col" class="text-center">End Date</th>
                <th scope="col" class="text-center">Distance <span style="font-size: small;">(Km)</span></th>
                <th scope="col" class="text-center">Income <span style="font-size: small;"> (LKR)</span></th>
                <th scope="col" class="text-center">Rent Receipts </th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rent of filteredRents ">
                <th class="text-center ">{{rent.r_start_date}}</th>
                <td class="text-center">{{rent.r_end_date}}</td>
                <td class="text-center">{{rent.r_distance}} </td>
                <td class="text-center">{{rent.r_price}} </td>
                <td class="text-center"><img *ngIf="rent.r_recp_img" [src]="rent.r_recp_img" alt="Rent Receipts" class="maintance-image" />
                </td>
                <td class="text-center">
                  <button class="btn text-white px-3 bg-danger" *ngIf="rent.r_recp_img"
                    (click)="openImage(rent.r_recp_img)">View Receipt</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <h4 style="font-weight: bold; " class="mb-2">All Maintances Details</h4>
      <div class="row">
        <div class="col">
          <h6 style="font-weight: bold; color: #780000;" class="mb-2">Full Maintance Cost : {{totalMaintance |
        number:'1.2-2'}}</h6>
        </div>
        <span class="col text-end">
          <button class="btn text-white" style="background-color: #003049;"(click)="downloadMaintainData()">Download Maintance Data</button>
        </span>
      </div>

      <div class="filter-options mb-3">
        <label for="maintenanceFilter" class="me-2">Filter by :</label>
        <select id="maintenanceFilter" (change)="filterMaintenanceData($event)" class="px-2" style="border-radius: 10px;">
          <option value="all">All</option>
          <option value="week">Last Week</option>
          <option value="month">Last Month</option>
          <option value="year">Last Year</option>
        </select>
      </div>
      
      <div class="card p-2" style="border-radius: 20px;">
        <div class="table-responsive ">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col" class="text-center">Description</th>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Price <span style="font-size: small;"> (LKR)</span></th>
                <th scope="col" class="text-center">Maintenance Receipts</th>
                <th scope="col" class="text-center">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maintance of filteredMaintenances">
                <th class="text-center">{{maintance.m_description}}</th>
                <td class="text-center">{{maintance.m_date}}</td>
                <td class="text-center">{{maintance.m_price}}</td>
                <td class="text-center"><img *ngIf="maintance.m_mant_img" [src]="maintance.m_mant_img" alt="Maintenance Image"
                    class="maintance-image" /></td>
                <td class="text-center">
                  <button class="btn text-white px-3 bg-danger" *ngIf="maintance.m_mant_img"
                    (click)="openImage(maintance.m_mant_img)">View Receipt</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>